<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


    <form action="" method="POST">
        <div class="d-flex col-12">
            <div class="col-6">
                <label for="name" class="float-left">Ho Ten</label>
            </div>
            <div class="col-6">
                <label for="CMT" class="float-left">CMT</label>
            </div>
        </div>



        <div class="col-12 d-flex">
            <div class="col-6 float-left">
                <input type="text" id="name" name="name" placeholder="name" required>

            </div>
            <div class="col-6 float-left">
                <input type="text" id="CMT" name="CMT" placeholder="CMT" required>

            </div>

        </div>

        \<br>



        <div class="col-12 d-flex">

            <div class="col-4 float-left">
                <label for="NamSinh">NamSinh</label>
            </div>


            <div class="col-4 float-left">
                <label >GioiTinh</label>

            </div>

            <div class="col-4 float-left">
                <label for="Phuong">Phuong/Xa</label>
            </div>

        </div>


        <div class="col-12 d-flex">
            <div class="col-4 float-left">
                <input type="text" id="NamSinh" name="NamSinh" placeholder="NamSinh" required>

            </div>

            <div class="col-4 float-left">
                <input type="radio" name="gender" value="male" id="male">Name
                <input type="radio" name="gender" value="female" id="female">Nu
                <input type="radio" name="gender" value="other" id="other">Other
            </div>

            <div class="col-4 float-left">
                <input type="text" id="Phuong" name="Phuong" placeholder="Phuong" required>

            </div>
        </div>

        <button type="submit">submit</button>
    </form>




</body>
</html>